.reverse {
  float: right;
  float: left /*comment*/;
  margin-right: 5px;
  padding-left: 3px;
  font-size: 12px;
  /* unchanged*/
  right: 3px;
  border-right-style: dashed;
}
.shorthands {
  margin: 5px;
  margin: 6px 7px;
  margin: 1px 7px 3px;
  margin: 1px 4px 3px 2px;
}
.rtl-only {
  margin: 3px;
}
